<nav class="navbar navbar-expand-lg navbar-light bg-dark" id="navegar">
    <div class="container-fluid">
      <a class="navbar-brand" style="color: white" id="sub-titulo" routerLink="/">Tienda Mancos</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" style="color: white" routerLink="/productos/agregar">
              <i class="fa-solid fa-cart-plus fa-lg"></i>
              AgregarProductos</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" style="color: white" routerLink="/productos">
              <i class="fa-solid fa-list-ul fa-lg" style="color: #eae9e1;"></i>
              Productos</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" style="color: white" routerLink="#">
              <i class="fa-solid fa-user"></i>
              Clientes</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>


